.reviews-container{
    margin: auto;
    width: 552px;

    .back-nav-box {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
        background-color:#4D88E9;
        margin: 16px;
        border-radius: 2px;
        padding: 8px 16px 8px 16px; 
        color:#FFFFFF;

        .back-nav{
            display:inline-block;
            padding-right:20px;
            font-size: 30px;
        }

        .back-text {
            display: inline-block;
            padding: 10px;

            .back-text1 {
                display: block;
                font-size:20px;
                padding-bottom: 2px;
            }
    
            .back-text2 {
                display: block;
                padding-top:2px;
            }
        }
    }
    
    .review {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); //creates "card" effect
        transition: 0.3s;
        border-radius: 5px; //rounds corners
        padding: 8px 16px 8px 16px; //padding inside the review card
        margin: 16px;
        background-color: #FFFFFF;

        .author {
            font-weight: 600;
            margin-bottom: 5px;
        }
        
        .star {
            color: #FFB6A7;
            display: inline-block;
            vertical-align: text-bottom;
        }
        
        hr {
            border: none;
            height: 1px;
            background-color:#FFB6A7; 
        }
    }
}