<div class="reviews-container">
    <div class="review" *ngFor="let review of partialReviews" (click)="onReviewClick(review.id)">
        <div class="author-star">
            <h4 class="author">{{ review.author }}</h4>
            <span class="star">
                <app-stars [rating]='review.rating'></app-stars>
            </span>
        </div>
        <p class="body">{{ review.body }}</p>
    </div>
    <mat-paginator class="paginator" #paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
    </mat-paginator>
</div>
