.reviews-container{
    margin: auto;
    width: 552px;
    
    .review {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); //creates "card" effect
        transition: 0.3s;
        border-radius: 5px; //rounds corners
        padding: 8px 16px 8px 16px; //padding inside the review card
        margin: 16px;
        background-color: #FFFFFF;
    
        .author-star {
            height: 45px;
    
            .author {
                margin-right: 10px;
                display: inline-block; //author name and stars appear inline
                font-weight: 600;
            }
        
            .star {
                color: #FFB6A7;
                display: inline-block;
                vertical-align: text-bottom;
            }
        }
    }
    
    .review:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); //deeper shadow on mouse-over
    } 

    .paginator{
        background-color: #f5f5f5;  //paginator's default style gives it a white background, which is too obvious
    }
}

